# Python
__pycache__/
*.py[cod]
*$py.class

# Node / Next.js
node_modules/
.next/
out/

# Datasets & Large Files
*.csv
*.jsonl
processed_data/

# Environment & Local
.env
.env.*
*.local

# IDE
.vscode/
.idea/
